name: Inventory System CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # --- ЗАВДАННЯ 1: ЗБІРКА БЕКЕНДУ (.NET) ---
  build-backend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x 
        
    - name: Restore dependencies
      run: dotnet restore ./src/Inventory.API/Inventory.API.csproj

    - name: Build
      run: dotnet build ./src/Inventory.API/Inventory.API.csproj --no-restore

  # --- ЗАВДАННЯ 2: ЗБІРКА ФРОНТЕНДУ (React) ---
  build-frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        
    - name: Install dependencies
      run: npm ci --legacy-peer-deps 
      # npm ci краще для CI, ніж npm install

    - name: Build React App
      run: npm run build
